.container {
    padding: 10px;
    height: 95vh;
}

.interactivePanel {
    display:grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    height: 90%;
}

.historyDisplay {
    min-width: 200px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.historyDisplay button{
        padding: 5px 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: green;
        color: white;
        cursor: pointer;
        margin-top: 10px;
}

.chatDisplay {
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.chatInput {
    display: flex;
}

.chatInput input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.chatInput button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.message {
    margin-bottom: 10px;
}

.userMessage {
    color: blue;
}

.assistantMessage {
    color: green;
}